test/*
results/*
voice_gen/audio/*
renpy_projects/*
rendered_scenes/*
test_results/*
frontend/node_modules/*
archive/*
.env
.*
__pycache__/*

# Ignore Python cache files
__pycache__/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore Python virtual environments
venv/
# Ignore logs
logs/
# Ignore coverage reports
coverage.xml


# Ignore build directories
build/          
# Ignore distribution directories
dist/
# Ignore Python bytecode files
*.pyc
# Ignore Python egg files
*.egg   
# Ignore Python egg-info directories
*.egg-info/
# Ignore pipenv files

Pipfile.lock
# Ignore Poetry files                       







                            